<div class="row">
  <div class="col-sm-12">

    <h2>Import labels file</h2>
    <%= form_with(url: {action: :generate_report}, multipart: true) do %>
      <div class="form-group">
          <label for="labels">Labels jsons: </label>
          <%= file_field_tag 'labels' %>
      </div>
      <%= submit_tag("Submit", :class => "btn btn-primary") %>
    <% end %>
    
    <br>
    
    <h2>Results</h2>
    <table class="table table-striped">
    <thead>
      <tr>
      <th>Tracking Number</th>
      <th>Label Weight (Kg)</th>
      <th>Fedex Weight (Kg)</th>
      <th>Overweight?</th>
      <th>Exceeding Weight(Kg)</th>
      </tr>
    </thead>
    <tbody>
      <% @report_summary.each do |entry| %>
        <% if entry['has_overweight'] %>
          <tr style="color: red;" >
        <% else%>
          <tr>
        <% end %>
          <th scope="row"><%= entry['tracking_number'] %></th>
          <td><%= entry['label_weight'] %></td>
          <td><%= entry['real_weight'] %></td>
          <td><%= entry['has_overweight'] ? 'Yes' : 'No' %></td>
          <td><%= entry['exceeding_weight'] %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>